<h1>Categories</h1>
<ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.title, category_path(category) %></li>
    <% end %>
</ul>

<br>

<h1>Available Items</h1>
<% @items.each do |item| %>
  <p><%= item.title %> | <%= number_to_currency(item.price.to_f/100) %> | Quantity: <%= item.inventory %>
	<% if current_user %>
  		<%= button_to 'Add to Cart', line_items_path(item_id: item.id) %>
  	<% end %></p>
<% end %>
